@tailwind base;
@tailwind components;
@tailwind utilities;

.auth-bg{
  background-image: url('../public/Images/auth.svg');
  
}


body{
  scroll-behavior: smooth;
}
.hide-scrollbar {
  overflow-y: scroll;  /* Enable vertical scrolling */
}

/* Hide scrollbar across browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: 2px;   /* Firefox */
}


